.App {
  position: relative;
  min-height: 100vh;
}

.Footer {
  position: fixed;
}

span {
  max-height: 3em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.WordsTable > thead > tr > th {
  background-color: #b3ffff !important;
}

span.lesson {
  max-height: 10em;
  display: inline-block;
  text-overflow: "see more";
}

.Header.ui.menu {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 5vh;
}

.ui.footer.segment {
  margin-top: 5vh;
}
